<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *      
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License
-->
        <ModulePrefs title="Hangout Starter">
                <Require feature="rpc" />
                <Require feature="views"/>
        </ModulePrefs>
        <Content type="html"><![CDATA[
        <!DOCTYPE html>
     
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'></link>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"></link>
<link href='//rawgit.com/jcambre/CS247-P4/moderator/style.css' rel='stylesheet' type='text/css'></link>
<script src='//cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src='//rawgit.com/jcambre/CS247-P4/moderator/turn-taking.js'></script>
<script src='//rawgit.com/jcambre/CS247-P4/moderator/firebase.js'></script>


<html>
<div id="container" style="position:relative; width:100%;">


  <!-- AGENDA PANEL-->
  <div id="show_agenda">
    <span id="show_agenda_label" style="font-size: 10pt;">Show Agenda  &#9660;</span>
  </div>
  <div id="agenda_container" style="overflow:scroll; position:relative;">
    <a id="hide_agenda" style="float:right; font-size:14pt; padding: 5px; text-decoration:none; color:#00000; cursor: pointer;" title="Hide Discussion Topics">&times;</a>
    <div id="agenda-header">
      <span id="agenda-label">Agenda</span>
      <div id="agenda_details" style="padding-right:20px;"> 
        &nbsp;
      </div>
    </div>
    <div class="legend"></div>
    <div id="agenda_content">
      The agenda is not available.
      <br><br>
        <div class="well">
          <b>If you cannot view the agenda...</b>
          <span>You may need to exit this Hangout and re-enter from the Talkabout course page once again. On the same Talkabout page from which you joined the Hangout, click the "Enter Hangout"/"Join the Hangout" buttons to re-launch the Hangout.</span>
        </div>
    </div>
  </div>

  <div id="visualization_container" style="width: 400px; margin: 0 auto; right: 0">
    <div id="gauge_container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
    <div id="graph_container" style="min-width: 210px; max-width: 400px; height: 300px; margin: 0 auto"></div>
  </div>

</div>
</html>

<script>



</script>
]]>
</Content>
</Module>
